.ss-vdr {touch-action:none;position:absolute;box-sizing:border-box;border:1px solid rgba(0,0,0,0);}
.ss-vdr.active{border:1px dashed black;}
.ss-vdr:hover{border:1px dashed black;}
.ss-handle {box-sizing:border-box;position:absolute;width:10px;height:10px;background:#fff;border:1px solid #333; border-radius: 100px;}
.ss-handle-tl {top:-5px;left:-5px;cursor:nw-resize;}
.ss-handle-tm {top:-5px;left:50%;margin-left:-5px;cursor:n-resize;}
.ss-handle-tr {top:-5px;right:-5px;cursor:ne-resize;}
.ss-handle-ml {top:50%;margin-top:-5px;left:-5px;cursor:w-resize;}
.ss-handle-mr {top:50%;margin-top:-5px;right:-5px;cursor:e-resize;}
.ss-handle-bl {bottom:-5px;left:-5px;cursor:sw-resize;}
.ss-handle-bm {bottom:-5px;left:50%;margin-left:-5px;cursor:s-resize;}
.ss-handle-br {bottom:-5px;right:-5px;cursor:se-resize;}
@media only screen and (max-width:768px) {[class*="handle-"]:before {content:'';left:-10px;right:-10px;bottom:-10px;top:-10px;position:absolute;}
}
