.ss-vdr {touch-action:none;position:absolute;box-sizing:border-box;border:1px solid #1486ff!important; cursor: auto!important}
.ss-vdr.active{border:1px dashed #1486ff!important;}
.ss-vdr:hover{border:1px solid #1486ff!important;}
.ss-handle {box-sizing:border-box;position:absolute;width:8px!important;height:8px!important;background:#fff;border:1px solid #1486ff!important; border-radius: 100px;}
.ss-handle-tl {top:-4px!important;left:-4px!important;cursor:nw-resize;}
.ss-handle-tm {top:-4px!important;left:50%;margin-left:-4px!important;cursor:n-resize;}
.ss-handle-tr {top:-4px!important;right:-4px!important;cursor:ne-resize;}
.ss-handle-ml {top:50%;margin-top:-4px!important;left:-4px!important;cursor:w-resize;}
.ss-handle-mr {top:50%;margin-top:-4px!important;right:-4px!important;cursor:e-resize;}
.ss-handle-bl {bottom:-4px!important;left:-4px!important;cursor:sw-resize;}
.ss-handle-bm {bottom:-4px!important;left:50%;margin-left:-4px!important;cursor:s-resize;}
.ss-handle-br {bottom:-4px!important;right:-4px!important;cursor:se-resize;}
.ss-dragSelect-box {position: fixed; background: rgba(38, 168, 255, 0.1); border: 1px solid rgb(30, 152, 234); z-index:0 }
.handle-rotate { left: 50%; width: 14px; height: 14px; margin-left: -7px;position: absolute; top:-24px; cursor: pointer}
@media only screen and (max-width:768px) {[class*="handle-"]:before {content:'';left:-4px!important;right:-4px!important;bottom:-4px!important;top:-4px!important;position:absolute;}
}
