.ss-vdr {touch-action:none;position:absolute;box-sizing:border-box;border:1px solid #1486ff;}
.ss-vdr.active{border:1px dashed #1486ff;}
.ss-vdr:hover{border:1px solid #1486ff;cursor: move}
.ss-handle {box-sizing:border-box;position:absolute;width:8px;height:8px;background:#fff;border:1px solid #1486ff; border-radius: 100px;}
.ss-handle-tl {top:-4px;left:-4px;cursor:nw-resize;}
.ss-handle-tm {top:-4px;left:50%;margin-left:-4px;cursor:n-resize;}
.ss-handle-tr {top:-4px;right:-4px;cursor:ne-resize;}
.ss-handle-ml {top:50%;margin-top:-4px;left:-4px;cursor:w-resize;}
.ss-handle-mr {top:50%;margin-top:-4px;right:-4px;cursor:e-resize;}
.ss-handle-bl {bottom:-4px;left:-4px;cursor:sw-resize;}
.ss-handle-bm {bottom:-4px;left:50%;margin-left:-4px;cursor:s-resize;}
.ss-handle-br {bottom:-4px;right:-4px;cursor:se-resize;}
.ss-dragSelect-box {position: absolute; background: rgba(38, 168, 255, 0.1); border: 1px solid rgb(30, 152, 234) }
.handle-rotate { left: 50%; width: 14px; height: 14px; margin-left: -7px;position: absolute; top:-24px; cursor: pointer}
@media only screen and (max-width:768px) {[class*="handle-"]:before {content:'';left:-4px;right:-4px;bottom:-4px;top:-4px;position:absolute;}
}
